.grid-container {
    width: 1200px;
    height: 1250px;
    margin: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    }

.grid-container > div {
  font-size: 30px;
  border: solid 1px black;
}
#year-month{
    grid-column-start: 1; 
    grid-column-end: 2; 
}
#tableDiv{
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
}
.button {
      display: inline-block;
      padding: 10px 20px;
      margin : 2px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      /* color: #fff; */
      background-color: #CCCCCC;
      border: 2px solid black;
      border-radius: 10px;
      
      box-shadow: 0px 2px 0px 1px #999;
 }
 .button:focus{
    background-color:lightblue
 }

